prices#index
<h3>Select a commodity</h3>
<ul>
  <% Commodity.all.each do |commodity| %>
   <li><%= link_to commodity.name, commodity %></li>
  <% end %>
</ul>

<a class="btn" data-toggle="modal" href="#myModal" >Launch Modal</a>
<div id="myModal">Example</div>
