<h1>Prices#new</h1>
<p>Find me in app/views/prices/new.html.erb</p>


   Retail Unit: gallon
   Farm Gate Unit: crate
   Delivered Unit: bushel
   Wholesale Unit: ton


<select name="Commodity">
  <option value="corn">corn</option>
</select>

<select name="Quality">
  <option value="good">good</option>
</select>

<select name="Type">
  <option value="government">government</option>
</select>

<form id="prices" method="get" action="/create">
  <fieldset>
   <input type="text" id="Farm Gate High" name="Farm Gate High" />
  </fieldset>
  <fieldset>
   <input type="text" id="Farm Gate Low" name="Farm Gate Low" />
  </fieldset>
  <fieldset>
   <input type="text" id="Delivered High" name="Delivered High" />
  </fieldset>
  <fieldset>
   <input type="text" id="Delivered Low" name="Delivered Low" />
  </fieldset>
  <fieldset>
   <input type="text" id="Wholesale High" name="Wholesale High" />
  </fieldset>
  <fieldset>
   <input type="text" id="Wholesale Low" name="Wholesale Low" />
  </fieldset>
  <fieldset>
   <input type="text" id="Retail High" name="Retail High" />
  </fieldset>
  <fieldset>
   <input type="text" id="Retail Low" name="Retail Low" />
  </fieldset>
  <fieldset>
   <input type="text" id="Date" name="Date" />
  </fieldset>
  <input type="submit" value="Create new price" />
</form>  
