<h1>Commodities#show</h1>
<p>Find me in app/views/commodities/show.html.erb</p>

<h3>Prices for <%= @commodity.name %></h3>

<%= @commodity.prices %>


<%= link_to( "Show all prices", commodities_path ) %>